/* this is the latest update 17th dec 2021 - by mary */

* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #f2f2f2;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


/*for container*/

form {
    margin-right: 30%;
}


/*for container*/

.container>h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 30px;
}


/*for container*/

input[type=text],
select,
textarea,
input[type=date] {
    width: 100%;
    padding: 12px;
    border: 1px solid darkgray;
    border-radius: 4px;
    resize: vertical;
}


/*for container*/

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


/*for container*/


/* this was an input then we changed it to button with tariq */

button {
    background-color: #00221C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 20px;
}


/*for container*/

button:hover {
    background-color: #98D7C2;
}


/*for container*/

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: -30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}


/*for container*/

.box {
    width: 50%;
    margin-top: 6px;
    position: relative;
}


/*for footer*/

.footer {
    background-color: #00221C;
    height: 150px;
    margin-top: 100px;
}


/*for footer*/

.footer p {
    color: white;
    text-align: left;
    padding: 20px 20px 20px 20px;
    font-weight: lighter;
}


/*for header*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 10px 30px;
    background-color: #44B4BC;
    color: rgba(255, 255, 255, 0.384);
    position: sticky;
}


/*for header*/

menu>.active {
    color: white;
}


/*for header*/

.menu :hover:not(.active) {
    color: #A1A3A5;
}

html {
    padding: 0;
    margin: 0;
}


/*for header*/

.logo {
    display: flex;
    flex-direction: row;
}


/*for header*/

.logo>img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}


/*for header*/

.logo {
    display: flex;
    flex-direction: row;
}


/*for header*/

.logo>h4 {
    margin-top: 10px;
}


/*for header*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 15px 30px;
    background-color: #98D7C2;
    color: rgba(255, 255, 255, 0.384);
    position: sticky;
}


/*for header*/

.menu {
    flex-basis: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    cursor: pointer;
}


/*for header*/

.menu>.active {
    color: white;
}


/*for header*/

.menu>div>a>svg {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    margin-bottom: -1.8px;
}


/*for header*/

.menu :hover:not(.active) {
    color: #A1A3A5;
}


/*for header*/

.routing {
    text-decoration: none;
    color: white;
}


/*validation */

.box.success input {
    border-color: rgb(44, 176, 44);
}

.box.error input {
    border-color: rgb(176, 44, 44);
}

.box i {
    visibility: visible;
    position: absolute;
    top: 55px;
    right: 515px;
}

.box.error i {
    color: rgb(176, 44, 44);
    visibility: visible;
}

.box small {
    visibility: visible;
    position: relative;
    top: 0;
    right: 500px;
}

.box.error small {
    visibility: visible;
    color: rgb(176, 44, 44);
}


/* this is the latest update 17th dec 2021 - by mary */